@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Passions+Conflict&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@800&family=Passions+Conflict&family=Poppins:wght@400;500;600;700&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html{
    scroll-behavior: smooth;
} */
body{
    font-family: 'Montserrat', sans-serif;
}

.scroll_header{
    background: gray;
    position: fixed;
    top: -60px;
    display: block;
    transition: top 0.5s;
    width: 100%;
    margin: auto;
    z-index: 9999;
}
.scroll_menu{
    margin: auto;
    width: 700px;
}
.scroll_menu a{
    float: left;
    display: block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    font-size: 18px;
}
.section1{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 46px;
    line-height: 46px;
}
.section1 .wrapper{
    display: flex;
    flex-wrap: wrap;
    background: #f1e2e1;
    justify-content: space-between;
    padding: 15px;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5;
}
.section1 .wrapper .i{
    background: #f26f21;
    color: white;
    height: 18px;
    width: 18px;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;
}
.section1 .wrapper .text1{
    color: black;
    display: flex;
    margin-left: 100px;
}
.section1 .wrapper .text2 a{
    color: #f26f21;
    margin-right: 100px;
    text-decoration: none;
}
/* .section1 .wrapper .text2 a:hover{
    transform:translateY(5px)
} */
.section1 .wrapper .text2 i{
    padding-left: 5px;
    transition: all .3s ease;
}
.section1 .wrapper .text2 i:hover{
    transform: translateX(5px)
}
.wrapper2{
    display: flex;
    flex-direction: row;
    margin: 30px;
    justify-content: space-evenly;
    /* position: relative; */
}
.wrapper2 .content{
    display: flex;
    flex-direction: column;
}
.wrapper2 .content .top{
    display: flex;
    flex-direction: row;
}
.wrapper2 .content .top .top-left{
    min-height: 18px;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 60px;
    padding: 5px 20px;
}
/* .top{
    justify-content: space-between;
} */
.top-left .search-bar{
    width: 100%;
    display: flex;
    align-items: center;
}
.top-left .search-bar input{
    flex: 1;
    border: 0;
    outline: none;
    /* padding: 14px 10px; */
    font-size: 16px;
}
::placeholder{
    color: gray;
}
.top-left .search-bar button{
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
}
.top-left .search-bar button i{
    color: #f26f21;
    font-size: 20px;
}
.top-center{
    justify-content: center;
}
.top-center .reg{
    font-size: .8375rem;
    color: #222;
    font-weight: 600;
    padding-top: 6px;
}
.top-center .reg #no{
    font-size: 1rem;
    color: #222;
    font-weight: 700;
    padding-top: 6px;
}
.top-center .reg span{
    position: relative;
    padding-left: 30px;
}
.top-center .reg i{
    font-size: 25px;
}
.top-center .reg span .fa-viber{
    color: #59267c;
}
.top-center .reg span .fa-whatsapp{
    color: 	#128C7E;
}
.top-right{
    padding: 3px;
    margin-left: 20px;
    position: relative;
}
.top-right.wrapper2.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
.top-right button{
    background: #0077bc;
    border: none;
    color: #fff;
    /* position: relative; */
    text-decoration: none;
    font-size: .875rem;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}
body{
    /* position: relative; */
}
.popup{
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    /* position: absolute; */
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.popup .popup-content{
    height: 250px;
    width: 500px;
    background: rgb(231, 231, 231);
    padding: 20px;
    border-radius: 5px;
    /* position: absolute; */
    position: relative;
}
.popup .popup-content i{
    top: 10px;
    right: 12px;
    color: red;
    position: absolute;
    cursor: pointer;
}
.popup .popup-content input{
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
}
button:hover{
    background: #00649d;
}
.bottom{
    /* background:gray; */
    height: fit-content;
    transition: .5s;
   /* position: fixed; */
}
.bottom .navbar {
    /* position: fixed; */
    z-index: 2;
    background: white;
}
.bottom .navbar ul {
    position: fixed;
    list-style: none;
    /* background: gray; */
    margin-top: 10px;
    
}
.bottom .navbar ul li{
    position: relative;
    float: left;  
    padding: 0px 5px 0px 5px;
}
.bottom .navbar ul li a{
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
    display: block;
    cursor: pointer;
}
.bottom .navbar ul li a:hover{
    background: rgb(215, 213, 213);
}
.navbar .btn:hover .list{
    display: block;

}
.bottom .navbar ul li a i{
    display: inline-block;
    margin-left: 3px;
}
.bottom .navbar ul{
    position: relative;
    display: inline-block;
}
.bottom .navbar .list {
    height: 562.25px;
    position: absolute;
    /* position: fixed; */
    z-index: 1;
    display: none;
    font-weight: 500;
    background: rgb(248, 247, 247);
    
    /* visibility: hidden; */
}
/* .bottom .navbar .list.active{
    visibility: visible;
    opacity: 1;
} */
.bottom .navbar .list a{
    font-weight: 500;
    /* position: relative; */
}
.bottom .navbar .list .submenu{
    /* position: absolute; */
    left: 0%;
    top: 0px;
    flex: 1 0 auto;
    width: 100%;
    padding: 12px;
    float: left;
    text-transform: capitalize;
}
.bottom .navbar .list .submenu ul #title{
    font-size: .875rem;
    font-weight: 600;
    text-transform: capitalize;
}
.bottom .navbar .list .submenu ul #title:hover{
    color: #f26f21;
}
.wrapper3 .bgImage{
    position: relative;
    width: 100%;
    /* height: max-content; */
    height: 550px;
    background-image: url("images/bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.wrapper3 .bgImage::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
}
.wrapper3 .content{
    position: absolute;
    top: 6.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.wrapper3 .content h1{
    color: white;
    text-transform: uppercase;
    font-weight: 1 1000;
    padding-bottom: 40px;
}
.wrapper3 .content .btnExp{
    background: #0077bc;
    border: #0077bc;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 25px;
    padding: 10px 25px;
    width: max-content;
    font-size: .875rem;
    cursor: pointer;
}
.wrapper3 .content .btnExp:hover{
    background: #00649d;
}
.wrapper4{
    padding: 40px;
}
.wrapper4 .container{
    margin:50px 70px;
}
.wrapper4 .container ul{
    list-style: none;
    display: flex;
    /* flex: 1; */
}
.wrapper4 .container ul li{
    padding: 20px;
    justify-content: center;
    text-align: center;
    max-width: fit-content;
}
.wrapper4 .container ul li a{
    text-decoration: none;
    color: black;
}
.wrapper4 .container ul li .title h4{
    font-size: 20px;
    font-weight: 600;
}
.wrapper4 .container img{
    max-width: 50px;
}
.wrapper4 .container ul li .title span{
    font-size: 13px;
}
.wrapper4 .container .btn4{
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 60px;
}
.wrapper4 .container .btn4 .btn{
    background-color: #0077bc;
    border-color: #0077bc;
    color: #fff;
    position: relative;
    text-decoration: none;
    font-size: .875rem;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}
.wrapper4 .container .btn4 .btn:hover{
    background: #00649d;
}
.wrapper5{
    background: #f3fbff;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    margin-top: -100px;
}

.wrapper5 .container5{
    width: 100%;
    padding: 10px;
    padding-right: var(--bs-gutter-x,1rem);
    padding-left: var(--bs-gutter-x,1rem);
    margin-right: auto;
    margin-left: auto;
}
.wrapper5 .container5 .title-head::before{
    position: absolute;
    content: '';
    left: calc(50% - 59px);
    top: 175px;
    height: 13px;
    width: 118px;
    background: url(../images/dash.svg) no-repeat;
}
.wrapper5 .container5 .title{
    text-align: center;
}
.wrapper5 .container5 .title h2{
    font-size: 1.75rem;
    text-transform: capitalize;
    margin-top: 50px;
    margin-bottom: 10px;
}
.wrapper5 .container5 .title span{
    font-size: 1.25rem;
    font-weight: 500;
}
.wrapper5 .container5 .package-list .row{
    margin: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px solid red; */
}
.wrapper5 .container5 .row li{
    list-style: none;
    display: flex;
    flex-basis: 32%;
    margin: 10px 0px;
    text-align: center;
    /* padding: 0; */
    background: white;
    box-shadow: 0px 0px 10px 3px lightgray;
    border-radius: 5px;
}
/* .package-list .item figure a {
    position: relative;
    z-index: 0;
    display: block;
    overflow: hidden;
    
} */
.wrapper5 .container5 .package-list .item figure{
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    position: relative;
    display: inline-block;
}
.wrapper5 .container5 .package-list figure img{
    width: 100%;
    transition: all .5s linear;
    display: block;
}

.package-list .item figure a img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.wrapper5 .container5 .package-list figure img:hover{
    transform: scale(1.1);
    /* overflow: hidden; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.package-list .item figure .ribbon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px 10px 9px 0;
    color: #fff;
    text-align: center;
    padding-right: 10px;
    font-weight: 600;
    font-size: .8375rem;
    border-top-right-radius: 2px;
    background-color: #f26f21;
    text-transform: capitalize;
    z-index: 1;
}
.package-list .item figure .ribbon:after {
    position: absolute;
    top: 0;
    border-width: 0 10px 40px;
    border-style: solid;
    border-color: #f26f21;
    border-left-color: transparent;
    right: 100%;
    margin-left: -16px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    content: '';
    display: inline-block;
    z-index: -1;
    border-top-left-radius: 25px;
}
.package-list figcaption{
    padding: 20px;
}
.package-list figcaption .intro-text{
    margin-bottom: 10px;
    text-align: left;
}
.package-list figcaption .intro-text h4{
    font-size: 20px;
    font-weight: 600;
    color: rgb(75, 73, 73);
}
.package-list figcaption .package-meta{
    margin-top: 20px;
}
.package-list figcaption .package-meta .duration-rating{
    display: flex;
    justify-content: space-between;
}
.package-meta i{
    color: #f26f21;
}
.wrapper5 .btn4{
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 60px;
}
.wrapper5 .btn4 .btn{
    background-color: #0077bc;
    border-color: #0077bc;
    color: #fff;
    position: relative;
    text-decoration: none;
    font-size: .875rem;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}
.wrapper5 .btn4 .btn:hover{
    background: #00649d;
}

#second{
    background: white;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    margin-top: -50px;
}
@media only screen and (min-width: 200px) and (max-width: 800px){
    .wrapper4 .container .services_list{
        flex-direction: column;
    
    }
    .wrapper4 .container .services_list li{
        /* justify-content: center; */
    }
    .wrapper5 .container5 .row{
        /* width: 100%; */
        flex-direction: column;
    }
    .wrapper5 .container5 .row li{
        margin: 50px;
    }
}
#second .btn4{
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 60px;
}
#second .btn4 .btn{
    background-color: #0077bc;
    border-color: #0077bc;
    color: #fff;
    position: relative;
    text-decoration: none;
    font-size: .875rem;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}
#second .btn4 .btn:hover{
    background: #00649d;
}
.wrapper6{
    background-image: linear-gradient(to bottom,#09375e 50%,#fff 50%);
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    margin-top: -50px;
}
.wrapper6 .container6{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(blue 50%, white 50%); */
}
.wrapper6 .container6 .title-head::before{
    position: absolute;
    content: '';
    left: calc(50% - 59px);
    top: 170px;
    height: 13px;
    width: 118px;
    background: url(../images/dash.svg) no-repeat;
}
.wrapper6 .container6 .title{
    text-align: center;
    color: white;
}
.wrapper6 .container6 .title h2{
    font-size: 1.75rem;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 10px;
    
}
.wrapper6 .container6 .title span{
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: capitalize;
}
.wrapper6 .container6 .row{
    display: flex;
    margin: 50px 200px;
}
.wrapper6 .container6 .col{
    background: white;
    padding: 30px;
    width: 80%;
    /* box-shadow: 0px 0px 10px 3px lightgray; */
    box-shadow: 0 0 10px 0 rgb(9 55 94 / 10%);
    position: relative;
    z-index: 1;
}
.wrapper6 .container6 .col:before {
    position: absolute;
    left: 0;
    right: -5px;
    /* right: 5px; */
    width: 150px;
    top: 0;
    bottom: 0;
    z-index: -1;
    content: "";
    background: white;
    /* -webkit-box-shadow: 0 0 10px 0 rgb(9 55 94 / 10%); */
    box-shadow: 0 0 0 0 rgb(9 55 94 / 10%);
}
.wrapper6 .container6 .col .fa-solid{
    color: #f26f21;
}
.wrapper6 .container6 .row .col blockquote{
    display: flex;
}
.wrapper6 .container6 .row .col blockquote p{
    font-size: 18px;
    font-weight: 500;
    position: relative;
    padding: 25px 0 10px 20px;
    
}
.wrapper6 .container6 .row .col p{
    line-height: 1.75;
    letter-spacing: .2px;
    word-spacing: 1px;
    margin-bottom: 10px;
    justify-content: center;
    /* padding-right: 20px; */
}
.wrapper6 .container6 .row .col .btn6{
    background: #0077bc;
    border: none;
    /* border-color: #0077bc; */
    color: #fff;
    position: relative;
    text-decoration: none;
    font-size: .875rem;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.wrapper6 .container6 .row .col .btn6:hover{
    background: #00649d;
}
/* .wrapper6 .container6 .col:before{
    position: relative;
} */
.wrapper6 .container6 .two{
    position: relative;
    border: none;
    background: transparent;
    box-shadow: none;
    /* margin-right: 50px; */
    /* margin: 025px; */
}
.wrapper6 .container6 .two .video-image-wrapper {
    position: absolute;
    border: none;
}
.wrapper6 .container6 .two img{
    /* width: 1000;
    height: 565; */
    width: 500px;
    /* max-width: 100%; */
    position: absolute;
    /* margin-left: -20%; */
    /* vertical-align: middle; */
}
/* .wrapper6 .container6 .two img::after{
    position: absolute;
    content: "";
    background: orange;
} */
.wrapper6 .container6 .two .vid{
    position: relative;
    width: 100%;
}
.wrapper6 .container6 .two .vid .play{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    margin-left: 225px;
}
.wrapper6 .container6 .two .fa-play{
    color: white;
    background-color: #f26f21;
    padding: 20px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    
}
.wrapper6 .container6 .two .fa-circle{
    color: transparent;
    font-size: 80px;
    position: absolute;
    font-weight: 100;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}
.wrapper7{
    padding-top: 0;
}
.wrapper7 .container{
    width: 100%;
    padding-right: var(--bs-gutter-x,10rem);
    padding-left: var(--bs-gutter-x,10rem);
    margin-left: auto;
    margin-right: auto;

    /* padding: 10px 20px; */
}
.wrapper7 .title {
    display: block;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.wrapper7 .title h2 span{
    position: relative;
}
.wrapper7 .title h2 span:before{
    position: absolute;
    content: '';
    left: -65px;
    top: calc(50% - 1px);
    height: 1px;
    width: 40px;
    background: #e5e5e5;
}
.wrapper7 .title h2 span:after{
    position: absolute;
    content: '';
    right: -65px;
    top: calc(50% - 1px);
    height: 1px;
    width: 40px;
    background: #e5e5e5;
}
.wrapper7 .container .list .item{
    display: flex;
    /* flex-wrap: wrap; */
}
.wrapper7 .container .list ul{
    display: flex;
    justify-content: center;
}
.wrapper7 .container .list ul li{
    list-style: none;
    padding: 20px;
} 
.wrapper7 .container .list .item img{
    max-width: 60px;
    margin-right: 40px;
}
.wrapper7 .container .list .item .why-content p{
    font-size: .8125rem;
    line-height: 1.75;
    letter-spacing: .2px;
}
.wrapper8{
    padding: 10px;
    /* position: relative; */
}
.wrapper8 .container8{
    margin: 60px;
    background: #f3fbff;
    /* position: absolute; */
    padding-bottom: 40px;
    border-radius: 2px;
    
}
.wrapper8 .title {
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: block;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    position: relative;
}
.wrapper8 .container8 .title::before{
    position: absolute;
    content: '';
    left: calc(50% - 59px);
    bottom: 0px;
    height: 13px;
    width: 118px;
    background: url(../images/dash.svg) no-repeat;
}
.wrapper8 .container8 .cards{
    display: flex;
    padding: 20px;
    margin: 5px;
    /* box-shadow: 0 0 10px 0 rgb(9 55 94 / 10%); */
    /* justify-content: center; */
}
.wrapper8 .container8 .cards .items{
    display: flex;
    background: white;
    margin: 10px;
    box-shadow: 0 0 10px 0 rgb(9 55 94 / 10%);
    /* padding: 10px; */
    /* margin: 20px;
    padding: 20px; */
    
}
.wrapper8 .container8 .cards .items .card{
    padding: 20px;
    display: flex;
    
}
.wrapper8 .container8 .cards .items .img{
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: gray; */
}
.wrapper8 .container8 .cards .items .img img{
    height: 70px;
    width: 70px;
    box-shadow:  0 0 2px 3px rgb(229, 226, 226);
    border-radius: 50%;
    border: 4px solid white;
}
.wrapper8 .container8 .cards .items .content{
    margin-left: 20px;
}
.wrapper8 .container8 .cards .items .content #name{
    color: #222;
    line-height: 1.2;
    font-size: .9375rem;
    display: block;
    font-weight: 700;
}
.wrapper8 .container8 .cards .items .content #country{
    font-size: .875rem;
    font-weight: 400;
}
.wrapper8 .container8 .content .ratings{
    margin-top: 5px;
    margin-bottom: 5px;
}
.wrapper8 .container8 .content .ratings i{
    color: #f26f21;
}
.wrapper8 .container8 .content #txt{
    font-weight: 500;
    color: #606060;
    text-transform: capitalize;
    /* font-weight: 600; */
    font-size: .9rem;
    height: 45px;
}
.wrapper8 .container8 .content .date{
    display: flex;
}
.wrapper8 .container8 .content #date span{
    color: #222;
    line-height: 1.2;
    font-size: .9375rem;
    /* display: block; */
    font-weight: 700;
}
.wrapper8 .container8 .trip_logo{
    text-align: center;
    margin: 30px;
}
.wrapper9 .bgImage{
    position: relative;
    /* width: 100%; */
    /* height: max-content; */
    /* height: 550px; */
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.6)), url("images/img11.jpg");
    background-size: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    align-items: center;
}
/* .wrapper9 .bgImage::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
} */
.wrapper9 .bgImage::before{
    position: absolute;
    content: '';
    left: calc(50% - 75px);
    top: 105px;
    width: 150px;
    height: 110px;
    background: url(images/logoA.png);
    z-index: 1;
}
.wrapper9 .content{
    text-align: center;
    color: white;
    margin-top: 15%;
}
.wrapper9 .content h1{
    text-transform: capitalize;
}
.wrapper9 .content .item{
    margin-bottom: 5px;
    display: flex;
    /* justify-content: center; */
   
}
.wrapper9 .content .item .item1{
    display: flex;
    margin: 20px 60px;
}
.wrapper9 .content .item .item1 i{
    margin-right: 10px;
}
.wrapper9 .content .item .item1 .item2{
    justify-content: left;
    text-align: left;
}
.wrapper9 .content .item .item1 .item2 p{
    font-size: .875rem;
}
.wrapper9 .content .item .item1 .item2 h4{
    font-size: 1rem;
    margin-top: 5px;
}
.wrapper9 .content .btn9{
    margin-top: 20px;
    margin-left: 20px;
}
.wrapper9 .content .btnExp{
    background: #0077bc;
    border: #0077bc;
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 25px;
    padding: 10px 25px;
    width: max-content;
    cursor: pointer;
}
.wrapper9 .content .btnExp:hover{
    background: #00649d;
}
.wrapper10{
    padding: 10px;
    /* position: relative; */
}
.wrapper10 .container10{
    margin: 0 60px;
    padding: 40px;
    
    
}
.wrapper10 .title {
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: block;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    position: relative;
}
.wrapper10 .container10 .title::before{
    position: absolute;
    content: '';
    left: calc(50% - 59px);
    bottom: 0px;
    height: 13px;
    width: 118px;
    background: url(../images/dash.svg) no-repeat;
}
.wrapper10 .container10 .blog-list {
    padding: 50px;
    display: flex;
    margin: 10px;
    justify-content: space-between;
    /* background: gray; */
}
.wrapper10 .container10 .blog-list .cont{
    /* background: wheat; */
    justify-content: center;
    align-items: center;
    margin: 10px;
    width:335px;
   
}
.wrapper10 .container10 .cont .blog-img{
    text-align: center;
    /* border-radius: 5px; */
    position: relative;
    /* transition: all .5s ease-in-out; */
    overflow: hidden;
}
.wrapper10 .container10 .cont .blog-img img{
    transition: all .5s linear;
    display: block;
    border-radius: 2px;
    width: 100%;
}
.wrapper10 .container10 .cont .blog-img img:hover{
    text-align: center;
    /* border-radius: 5px; */
    position: relative;
    transform: scale(1.1);
    
}

.wrapper10 .container10 .cont .blog-text{
    /* padding: 10px 40px; */
    /* width: 335px; */
    
}
.wrapper10 .container10 .cont .blog-text p{
    font-size: .875rem;
    font-weight: 400;
    line-height: 2;
}
.wrapper10 .container10 .cont .blog-text #name{
    color: #222;
    margin-top: 10px;
    line-height: 1.2;
    font-size: 1.1rem;
    display: block;
    font-weight: 700;
}
.wrapper11{
    padding: 10px;
    /* position: relative; */
}
.wrapper11 .title{
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    position: relative;
    text-align: center;
    /* margin-bottom: 30px; */
    margin-top: 10px;
    text-align: center;
}
.wrapper11 .title::after{
    position: absolute;
    content: '';
    height: 1px;
    top: 50%;
    right: 0;
    width: 100%;
    background-color: #dadce0;
    z-index: -1;
}
.wrapper11 .title span h3{
    display: inline-block;
    background-color: #fff;
    padding: 0 20px;

}
.wrapper11 .logos ul{
    display: flex;
    justify-content: center;
}
.wrapper11 .logos ul li{
    list-style: none;
}
.footer-text{
    text-align: center;
    margin-top: -100px;
    color: white;
    z-index: -1;
    /* background: gray; */
}
.footer-text .form{
    background: #121f39;
    /* margin-top: -10px; */
}
.footer-text form{
    height: auto;
    position: relative;
    text-align: center;
    /* background: #121f39; */
    padding: 25px 0px;
    display: flex;
    justify-content: center;
    /* margin: 10px; */
}
.footer-text form .form-grp{
    /* height: 48px;
    background: red; 
    border-radius: 5px; */
    margin: 10px;
}
.footer-text form .form-grp  label{
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.footer-text form .form-grp input{
    height: 48px;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: .875rem;
    color: #424242;
    min-height: 42px;
}
.footer-text form .form-grp .form-control{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
}
.footer-text form .form-grp button{
    height: 48px;
    border: none;
    border-radius: 2px;
    width: 100%;
    padding: 0 10px;
    background-color: #0077bc;
    border-color: #0077bc;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    text-transform: capitalize;
    border-radius: 2px;
    padding: 8px 40px;
    height: 48px;
}
.footer-text form .form-grp button:hover{
    background: #00649d;
}
footer{
    /* margin-top: -100px; */
    color: white;
    background: #121f39;
    padding: 50px;
}
footer .footer-cont{
    /* width: 100%; */
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    /* margin-right: 40px;
    margin-left: 40px; */
    display: flex;
}
footer .footer-cont nav{
    display: flex;
    flex-wrap: wrap;
}
footer .footer-cont nav li{
    width: 50%;
}
footer .footer-cont ul{
    margin: 50px;
    width: 50%;
}
footer .footer-cont ul h3{
    line-height: 40px;
}
footer .footer-cont li{
    list-style: none;
    text-transform: capitalize;
    line-height: 25px;
    font-size: .85rem;
}
footer .footer-cont li a{
    text-decoration: none;
    color: white;
}
footer .footer-cont li .social1{
    padding-right: 5px;
}
footer .footer-cont li .fa-viber{
    color: #59267c;
}
footer .footer-cont li .fa-whatsapp{
    color: 	#128C7E;
}
footer .footer-cont ul .social{
    display: flex;
}
footer .footer-cont ul .social div{
   font-size: 1.125rem;
   margin-top: 5px;
   padding-top: 5px;
   padding-left: 5px;
}
footer .footer-cont ul .social div i{
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    text-align: center;
    line-height: 35px;
    padding-right: 0;
    font-size: 1.125rem;
}

footer .footer-cont ul .social .fa-facebook-f{
    background: #3b5998;;
}
footer .footer-cont ul .social .fa-twitter{
    background: #55acee;
}
footer .footer-cont ul .social .fa-pinterest-p{
    background: #cb2027
}
footer .footer-cont ul .social .fa-instagram{
    background: #c32aa3;
}
footer .footer-cont ul .social .fa-youtube{
    background: #b00;

}
.footer {
    padding: 70px 70px 0 70px;
    /* padding-top: 50px;
    padding-bottom: 50px; */
    background-color: #fff;
    position: relative;
    /* padding-left: 50px; */
}
.footer .container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;

}
.footer .container .pay h4{
    margin-bottom: 0;
    font-size: .8125rem;
    color: #424242;
    font-weight: 600;

}
.footer .container .payment{
    margin-top: 10px;
    cursor: pointer;
}
.footer .container .copy{
    margin-bottom: 0;
    font-size: 1rem;
    color: #424242;
    font-weight: 500;
    letter-spacing: .7px;
}
.footer .container .copy p{
    font-size: .800rem;
    text-align: end;
}
.footer .pageUp{
    background: #f26f21;
    border: none;
    border-radius: 3px;
    /* bottom: 100px; */
    position: fixed;
    right: 40px;
    transition: all .4s;
    pointer-events: none;
    /* z-index: 1; */
}
.footer .pageUp i{
    padding: 10px;
    color: white;
    pointer-events: auto;
}
body{
    position: relative;
}
.popUp {
    background: transparent;
    color: black;
    width: 100%;
    position: sticky;
    bottom: 0;
    z-index: 999;
   /* height: 10px; */
}
/* .popUp span{
    display: block; 
    right: 0;
    margin: 20px;
    /* margin: 0 0 20px auto;
    background: #0077bc;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
} */

.popUp span .fa-comment{
    
}
/* .popUp .fa{
    display: inline-block;
    right: 0;
} */
.popUp .pop_cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 10px ;
    align-items: center;
    font: .875rem;
    background: rgba(255,255, 255, 0.95);
    /* margin: 0 90px; */
    box-shadow:  0 0 2px 3px rgb(247, 246, 246);
    position: sticky;
    bottom: 0;
    z-index: 2;
}
.popUp .pop_cont .pop_text{
    display: flex;
    padding: 0 40px;
}
.popUp .pop_cont .pop_btn{
    display: flex;
    justify-content: space-between;
    /* padding: 0 50px; */
    align-items: center;
}
.popUp .pop_cont .pop_btn p{
    color: #0077bc;
    font-weight: 500;
}
.popUp #cookies{
    background: #0077bc;
    border: #0077bc;
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 10px 25px;
    width: max-content;
    cursor: pointer;
    margin-left: 20px;
}
.popUp #cookies:hover{
    background: #00649d;
}
.popUp .pop_cont{
    position: relative;
}
.popUp #pop{
    position: absolute;
    margin: 20px;
    background: #f26f21;
    font-size: 25px;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 18px 20px;
    cursor: pointer;
    margin-top: -50px;
    z-index: 3;
    /* margin-bottom: 40px; */
}
.popUp #close{
    position: absolute;
    background: #0077bc;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: -100px;
    right: 10px;
    z-index: 2;
}